$default: #373A39;
$default-light: #333333;
$accent: #FCBB08;


%os-light {
  font-family: "OpenSans-Light", sans-serif;
  font-weight: 300;
}

%m-bold {
  font-family: "Montserrat-Bold", sans-serif;
  font-weight: 700;
}

%r-bold {
  font-family: "Raleway-Bold", sans-serif;
  font-weight: 700;
}

%mw-light {
  font-family: "Merriweather-LightItalic", sans-serif;
  font-weight: 300;
}